@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@300;400;700&display=swap');

// -- variables ---
    $blue: #4073de;
    $navlink1 : #ae5cfc;
    $navlinks2: #155ed1;
    $lightorange: #ffaf00;
    $orange: #ff8615;
    $lightred: #ff2f4f;
    $red: #ff1b99;
    $lightviolet: #fe14e5;
    $violet: #b61fe0;
    $lightgray: #f3f3f3;
    $text: #505050;
    $black: #000;
    $white: #fff;
    $transition: .4s ease;
    $fontSize: 16px;
    $headings: 'Montserrat', sans-serif;
    $bodyText:  'Roboto', sans-serif;

// --- basic styles ---
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.5;
    font-size: 16px;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    transition: $transition;
}

img {
    display: block;
    width: 100%;
}

.container {
    width: 90%;
    margin: 0 auto;
    @media (max-width: 767px) {
        width: 90%;
    }
}

h2 {
    font-size: 3.7rem;
    line-height: 1.2;
    font-weight: 500;
    @media (max-width: 767px) {
        font-size: 2.5rem;
    }
}
